.cards {
  height: 100%;
  padding: 0.4rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.cards:hover {
  padding: 0.8rem 0;
  box-shadow: 12px 13px 11px -5px rgba(51, 105, 105, 0.84);
  -webkit-box-shadow: 12px 13px 11px -5px rgba(51, 105, 105, 0.84);
  -moz-box-shadow: 12px 13px 11px -5px rgba(51, 105, 105, 0.84);
}

.cards img {
  width: 5rem;
  border-radius: 2.5rem 0.5rem;
  box-shadow: 16px 13px 14px -2px rgba(94, 79, 14, 0.75);
  -webkit-box-shadow: 16px 13px 14px -2px rgba(114, 105, 27, 0.75);
  -moz-box-shadow: 16px 13px 14px -2px rgba(121, 111, 25, 0.75);
  rotate: 10deg;
  transition: all 0.3s ease-in-out;
}

.cards img:hover {
  rotate: -10deg;
  transform: scale(1.1);
}

.cards ul {
  margin-top: -1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.cards span {
  display: flex;
  flex-direction: row-reverse;
}

.cards:nth-child(odd) {
  background-color: rgba(9, 138, 47, 0.945);
}

.cards:nth-child(even) {
  background-color: rgba(17, 180, 66, 0.945);
}


.cards ul h4 {
  width: 20vw;
  font-size: 1rem;
}

.cards ul h5 {
  margin-left: 5rem;
}
