.categoryList {
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
  height: 90vh;
  background-color: rgba(86, 138, 228, 0.671);
  padding-top: 4.5rem;
}

.creatures {
  grid-area: 1 / 1 / 1 / 3;
  position: relative; 
  background-image: url('../images/creatures.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(86, 138, 228, 0.897);
  background-blend-mode:soft-light;
}

.equipment {
      position: relative; 
    background-image: url('../images/equipment.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(63, 99, 165, 0.897);
    background-blend-mode:soft-light;  
}

.materials {
  position: relative; 
background-image: url('../images/materials.png');
background-position: center;
background-repeat: no-repeat;
background-color: rgba(78, 120, 204, 0.897);
background-blend-mode:soft-light;  
}

.monsters {
  position: relative; 
  background-image: url('../images/monsters.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(78, 120, 204, 0.897);
  background-blend-mode:soft-light;
}

.treasures {
  position: relative; 
  background-image: url('../images/treasure.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(63, 99, 165, 0.884);
  background-blend-mode:soft-light;
}
.categoryList li {
  
}

.categoryList li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  padding: 10px;
}

.categoryList li a h3 {
  display: flex;
  flex-direction: row-reverse;
}
