header {
  background-color: #4268B2;  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zeldaIcon  {
  width: 2rem;
}

a:active, a:link {
  text-decoration: none;
}

h1 {
  font-size: 1rem;
}

