header {
  background-color: rgba(9, 138, 47);
  padding: 0.4rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleNav_zeldaIconMobile {
  width: 2rem;
}

.titleNav__zeldaIconDesktop {
  display: none;
}

h1 {
  font-size: 1.2rem;
}

nav button img {
  width: 0.8rem;
  margin-left: 1.2em;
  transition: all 0.3s ease-in-out;
}

nav button img:hover {
  rotate: 90deg;
  transform: scale(1.5);
}

nav button {
  background: none;
  width: 3rem;
  border: none;
  cursor: pointer;
  padding-left: 0.8rem;
}

.titleNav p {
  font-size: 0.5rem;
  bottom: -10px;
  position: relative;
  left: 5px;
}

header nav a {
  display: flex;
}

@media screen and (min-width: 768px) {
  header {
    background-color: transparent;
    padding: 0.4rem;
    position: relative; 
    z-index: 1;
  }
  
  nav {
    justify-content: center;
  }
  
  .titleNav_zeldaIconMobile {
    display: none;
  }

  .titleNav__zeldaIconDesktop {
    display: inline;
    width: 60%;
  }

  .titleNav p {
    font-size: 1.5rem;
    bottom: -280px;
    color: #a08852;
    position: relative;
    left: 5px;
  }
  
  h1 {  
    display: none;  
  } 
  
  nav button img {
    display:none;
  }
  
  nav button img:active {
  margin-left: 1rem;
  }
}
